@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
    line-height: 1.3em;
}

/*  PAGE LAYOUT   */
.main-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: minmax(60px, 1fr) 4fr min-content;

    height: 100vh;
}

.header {
    grid-column: 1 / -1;

    display: grid;
    place-items: center;
    background-color: rgb(219, 240, 216);
}

.books-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    background-color: rgb(206, 253, 240);
    padding: 1em;
}

.form-contrainer {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: rgb(196, 247, 243);
    padding: 1em;
}

footer {
    grid-row: 3 / -1;
    grid-column: 1 / -1;

    display: grid;
    place-items: center;
    background-color: rgb(217, 218, 217);
}

/* books container */

.books-container>h2 {
    padding-bottom: 0.5em;
}

#books-collection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1.5em;
}

.card {
    border: 1px solid black;
    height: 220px;
}